/* Base */
:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: Spartan;
    src: url("fonts/Spartan-VariableFont_wght.ttf");
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

body {
    box-sizing: border-box;
    font-size: 1.5rem;
    font-family: "Spartan";
}

/* Typography */

.h1 {
    font-weight: 700;
    font-size: 2rem;
}

.paragraph {
    line-height: 1.5;
    color: (var(--light-grayish-magenta));
    font-size: 400;
}

.paragraph:not(:last-child) {
    margin-bottom: 2rem;
}

/* Layouts */
.container {
    max-width: 60rem;
    width: 90%;
    margin: 0 auto;
}

/* Page */
.header {
    padding: 5rem 0;
}

.header__h1 {
    color: var(--very-dark-magenta);
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    text-align: center;
}

.header__paragraph {
    text-align: center;
    margin-bottom: 2rem;
}

/* Components */

/** Ratings **/
.rating {
    background-color: var(--light-grayish-magenta);
    border-radius: 1rem;
    padding: 1em 0;
    text-align: center;
}

.rating__stars {
    margin-bottom: 1.5rem;
}

.rating__description {
    color: var(--very-dark-magenta);
    font-weight: bold;
    font-size: 1.2rem;
}

/*** Reviews ***/
.review {
    background-color: var(--very-dark-magenta);
    border-radius: 1rem;
    padding: 4rem;
}

.review__header {
    display: flex;
    margin-bottom: 2.5rem;
    align-items: center;
}

.review__img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 2rem;
}

.review__username {
    color: var(--white);
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}

.review__user-status {
    color: var(--soft-pink);
    font-weight: 700;
}

.review__body {
    color: var(--white);
    font-weight: 500;
    line-height: 1.5;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Utilities */
.mb-sm {
    margin-bottom: 1.5rem;
}
.mb-md {
    margin-bottom: 2.5rem;
}
.mb-lg {
    margin-bottom: 3.5rem;
}

.mt-sm {
    margin-top: 1.5rem;
}
.mt-md {
    margin-top: 2.5rem;
}
.mt-lg {
    margin-top: 3.5rem;
}

@media (min-width: 62.5em) {
    .container {
        max-width: 120rem;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .header__h1 {
        text-align: left;
        font-size: 5rem;
    }

    .header__paragraph {
        text-align: left;
    }

    .header__text-box {
        width: 40%;
    }

    .rating-box {
        width: 40%;
        display: flex;
        flex-direction: column;
    }

    .rating {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .rating:nth-child(2) {
        align-self: center;
    }

    .rating:nth-child(3) {
        align-self: flex-end;
    }

    .icon-star {
        display: inline-block;
        margin-top: 1.5rem;
    }

    .rating__stars {
        margin-right: 2rem;
    }

    .section {
        padding: 5rem 0;
        display: flex;
        align-items: center;
    }

    .review + .review {
        margin-left: 2rem;
    }

    .review:nth-child(2) {
        margin-top: 3rem;
    }

    .review:nth-child(3) {
        margin-top: 6rem;
    }
}
